@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* SEARCH INPUT */

.dataTables_filter input {
    border: 1px solid #d1d5db !important;
    border-radius: 0.5rem !important;
    padding: 0.5rem 0.75rem !important;
    margin-left: 0.5rem !important;
}

/* SELECT */

.dataTables_length select {
    border: 1px solid #d1d5db !important;
    border-radius: 0.5rem !important;
    padding: 0.4rem 2rem 0.4rem 0.75rem !important;
}

/* PAGINATION */

.dataTables_paginate .paginate_button {
    border-radius: 0.5rem !important;
    margin: 0 2px !important;
}